.intro__subtitle {
  font-size: 38px;
  font-weight: 700;
  line-height: 48px;
  margin: 0;
  width: 100%;
}

@media (max-width: 1024px) {
  .intro__subtitle {
    font-size: 34px;
  }
}

@media (max-width: 768px) {
  .intro__subtitle {
    font-size: 25px;
    line-height: 35px;
  }
}
