.places {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, minmax(480px, 640px));
  padding-top: 150px;
  font-family: 'Raleway', Arial, sans-serif;
  grid-template-areas:
  "forest_image forest_text"
  "mountains_text mountains_image"
  "sea_image sea_text"
}

@media (max-width: 1024px) {
  .places {
    padding-top: 75px;
    grid-template-rows: repeat(3, minmax(580px, 620px));
  }
}

@media (max-width: 768px) {
  .places {
    padding-top: 75px;
    grid-template-rows: repeat(3, minmax(min-content, max-content));
  }
}

@media (max-width: 425px) {
  .places {
    padding-top: 75px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, minmax(400px, max-content));
    grid-template-areas:
    "forest_text"
    "forest_image"
    "mountains_text"
    "mountains_image"
    "sea_text"
    "sea_image"
  }
}
