.menu__item-link {
  text-decoration: none;
  color: #000;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  transition: opacity 0.3s ease-in-out;
}

.menu__item-link:hover {
  opacity: 0.7;
}
