.menu__item {
    margin-right: 40px;
}


@media (max-width: 425px) {
  .menu__item {
    margin-bottom: 8px;
    margin-right: 0;
  }
  .menu__item:last-child {
    margin-bottom: 0;
  }

}
