.people-say__quote {
  font-size: 15px;
  font-weight: 600;
  line-height: 23px;
  margin: 0;
  margin-bottom: 32px;
}

@media (max-width: 768px) {
  .people-say__quote {
    max-width: 460px;
  }
}
