.intro__text-zone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 70px;
  width: 47.5%;
}

@media (max-width: 1024px) {
  .intro__text-zone {
    margin-left: 45px;
    width: 40%;
  }
}

@media (max-width: 768px) {
  .intro__text-zone {
    margin-bottom: 40px;
    margin-left: 0;
    width: 85%;
  }
}

@media (max-width: 425px) {
  .intro__text-zone {
  }
}
