.intro__title {
  font-family: 'Open Sans Condensed', Arial, sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  color: #FECDA7;
  margin: 0 0 28px;
  width: 100%;
  text-transform: uppercase;
}

@media (max-width: 1024px) {
  .intro__title {
    font-size: 12px;
    margin: 0 0 18px;
  }
}

@media (max-width: 768px) {
  .intro__title {
    font-size: 12px;
    margin: 0 0 24px;
  }
}
